
<div class="col-lg-6 col-centered">
  <div class="greetings">
    <h1>
      &lt Don't &gt Forget the past! Try my amazing calendar!
    </h1>

    <div class='row'>
      <div class = 'col-lg-10 col-centered'>
        <img src="/img/index.jpeg" class="centered" width="700px">
      </div>
    </div>
  </div>
</div>
